---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/sections/footer';
import Navbar from '@/components/sections/navbar';

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
    </head>
    <body class={`h-screen antialiased flex flex-col`}
    >
        <Navbar currentPage={Astro.url.pathname} client:only='react' />
        <div class="flex flex-1">
            <aside class="relative w-[159px] border-r bg-muted max-lg:hidden"></aside>
            <div class="flex min-w-0 flex-1 flex-col">
                <main class="flex-1"><slot /></main>
                <Footer />
            </div>
            <aside class="relative w-[159px] border-l bg-muted max-lg:hidden"></aside>
        </div>
    </body>
</html>
